@import "tailwindcss";
@tailwind utilities;

:root {
  --background: lightgrey;
  --foreground: #171717;
}
.dark {
  --background: #2a2929;
  --foreground: lightgrey;

}

*{
  box-sizing: border-box;
  
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: poppins, Arial, Helvetica, sans-serif;
}

h1{
  font-size: 3rem;
  font-family:  poppins, sans-serif;
  font-weight: bold;
  margin-top: 2rem;
  text-align: center;
}
h2{
  font-size: 2rem;
  font-family:  poppins, sans-serif;
  font-weight: semi-bold;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  
}